extends layout
block content
    h1= title
    - let instrumentid = toShow._id
    - let instrument_name = toShow.instrument_name
    - let manufacturer = toShow.manufacturer
    - let price = toShow.price
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{instrumentid}
    - let actionid = "/resource/instruments/" + instrumentid
    form(id='InstrumentForm', action= actionid, method="PUT")
        div.form-group
            label.instrumentAttr(for='instrument_name') Instrument name
            input#instrument_name(type='text', name='instrument_name', value= instrument_name )
        div.form-group
            label.instrumentAttr(for='manufacturer') Manufacturer
            input#manufacturer(type='text', name='manufacturer', value= manufacturer )
        div.form-group
            label.instrumentAttr(for='price') Price
            input#price(type='number', name='price', value= price )
        input(type="submit")
    script.
        document.forms['InstrumentForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
            alert("Update succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
            });
         });
